

<div class="container-personalize">
    <div class="container-personalize-color">
        <label for="">Color de la camisa</label>
        <input type="color" name="" id="">
    </div>
    <div class="container-personalize-print">
        <label for="">Estampado</label>
        <input type="file" name="" id="">
    </div>

    <div class="container-personalize-type">
        <label for="">Tipo de prenda</label>
        <select name="" id="">
            <option value="camiseta">Camiseta</option>
            <option value="camisilla">Camisilla</option>
        </select>
    </div>
    <div class="container-personalize-product">
        <img src="assets/img/camisa.png" alt="" class="container-personalize-product__image">
    </div>
    <div></div>
    <div></div>
</div>