
<div class="carousel-the-most">
    <div class="carousel-navigation">
        <span class="material-symbols-outlined">
            arrow_back_ios
        </span>
        <span class="material-symbols-outlined">
            arrow_forward_ios
        </span>
    </div>
    <div class="carousel-carts">
        <app-card-the-most ></app-card-the-most>
        <app-card-the-most ></app-card-the-most>
        <app-card-the-most ></app-card-the-most>
        <app-card-the-most ></app-card-the-most>
        <app-card-the-most ></app-card-the-most>
    </div>
</div>
