
@import '../../../shared/util/styles/mixin-globales.scss';
@import '../../../shared/util/styles/variables-global.scss';

.title-page{
    font-size: $font-size-medium;
    font-family: $font-title;
    margin-bottom: 3rem;
}
.container{
    padding: 2rem;
}