<section  class="card">
  
    <div class="card-img">
        <img  alt="" [src]="products.img">
    
    </div>
    <div class="card-description">
        <div class="card-description-name">
            <p class="card-description-name__text">{{products.name}}</p>
        </div>
    
        <div class="card-description-price">
            <span class="card-description-price__money">{{products.price}}</span>
            <span class="card-description-price__lastmoney">{{products.price + 8000}}</span>
        </div>
        <button class="card-description__buy" (click)="makeOrder(products)">Hacer pedido </button>
    </div>


</section>
