<section  class="card">
    <div class="card-img">
        <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T2/images/I/61y9okAs2DL._AC_UX569_.jpg" alt="">
        <div class="card-icons">
            <span class="material-symbols-outlined">
                visibility
                </span>
            <span class="icon-love material-symbols-outlined">
                favorite
            </span>
        </div>
        

    </div>
    <div class="card-description">
        <div class="card-description-name">
            <p class="card-description-name__text">Camisa negra personalizada</p>
        </div>
    
        <div class="card-description-price">
            <span class="card-description-price__money">$60000</span>
            <span class="card-description-price__lastmoney">$120000</span>
        </div>
        <button>Comprar </button>
    </div>


</section>
