<section  class="card">
  
    <div class="card-img">
        <img  alt="">
        <div class="card-icons">
            <span class="icon-view material-symbols-outlined">
                visibility
                </span>
            <span class="icon-love material-symbols-outlined">
                favorite
            </span>
        </div>
        

    </div>
    <div class="card-description">
        <div class="card-description-name">
            <p class="card-description-name__text"></p>
        </div>
    
        <div class="card-description-price">
            <span class="card-description-price__money"></span>
            <span class="card-description-price__lastmoney">$120000</span>
        </div>
        <button class="card-description__buy">Comprar </button>
    </div>


</section>
