<section  class="cart">
    <div class="cart-img">
        <img src="" alt="">
        <span></span>

    </div>
    <div class="cart-description">
        <div class="cart-description-name">
            <p class="cart-description-name__text"></p>
            <span class="cart-description-name__shipping material-symbols-outlined">
                shopping_cart
            </span>
        </div>
    
        <div class="cart-description-price">
            <span class="cart-description-price__money"></span>
        </div>  
    </div>
</section>
