
<form [formGroup]="personalizeForm" class="container-personalize" (submit)="registerPersonalize()">
    
    <div class="container-personalize-color__shirt">
        <label for="">Color de la camisa</label>
        <input formControlName="colorShirt" type="color">
        <div class="form-personalize-errors" *ngIf="personalizeForm.get('colorShirt')?.errors && personalizeForm.get('colorShirt')?.touched">
            <p class="form-personalize-errors__text" *ngFor="let error of personalizeForm.get('colorShirt')?.errors | errorFormReactive: 'color de la camisa'">
                {{error}}
            </p>
        </div>
    </div>

    <div class="container-personalize-color__neck">
        <label for="">Color del cuello</label>
        <input type="color" formControlName="colorNeck">
        <div class="form-personalize-errors" *ngIf="personalizeForm.get('colorNeck')?.errors && personalizeForm.get('colorNeck')?.touched">
            <p class="form-personalize-errors__text" *ngFor="let error of personalizeForm.get('colorNeck')?.errors | errorFormReactive: 'color del cuello'">
                {{error}}
            </p>
        </div>
    </div>

    <div class="container-personalize-type-neck">
        <label for="">Tipo de cuello</label>
        <div class="container-personalize-type-neck__container">
            <label for=""><input type="radio" formControlName="typeNeck" value="redondo"> Redondo</label>
            <label for=""><input type="radio" formControlName="typeNeck" value="v"> En V</label>
        </div>
        <div class="form-personalize-errors" *ngIf="personalizeForm.get('typeNeck')?.errors && personalizeForm.get('typeNeck')?.touched">
            <p class="form-personalize-errors__text" *ngFor="let error of personalizeForm.get('typeNeck')?.errors | errorFormReactive: 'tipo de cuello'">
                {{error}}
            </p>
        </div>
    </div>

    <div class="container-personalize-print">
        <label for="">Imagen</label>
        <input type="file" formControlName="print">
        <div class="form-personalize-errors" *ngIf="personalizeForm.get('print')?.errors && personalizeForm.get('print')?.touched">
            <p class="form-personalize-errors__text" *ngFor="let error of personalizeForm.get('print')?.errors | errorFormReactive: 'imagen'">
                {{error}}
            </p>
        </div>
    </div>

    <div class="container-personalize-type">
        <label for="">Tipo de prenda</label>
        <select formControlName="type">
            <option value="">Seleccionar tipo de prenda</option>
            <option value="camiseta">Camiseta</option>
            <option value="camisilla">Camisilla</option>
            <option value="csmangalarga">Camiseta manga larga</option>
        </select>
        <div class="form-personalize-errors" *ngIf="personalizeForm.get('type')?.errors && personalizeForm.get('type')?.touched">
            <p class="form-personalize-errors__text" *ngFor="let error of personalizeForm.get('type')?.errors | errorFormReactive: 'tipo de prenda'">
                {{error}}
            </p>
        </div>
    </div>

    <div class="container-personalize-type-cloth">
        <label for="">Tipo de tela</label>
        <select formControlName="typeCloth">
            <option value="">Seleccionar tipo de tela</option>
            <option value="normal">Normal</option>
            <option value="elastica">Elastica</option>
        </select>
        <div class="form-personalize-errors" *ngIf="personalizeForm.get('typeCloth')?.errors && personalizeForm.get('typeCloth')?.touched">
            <p class="form-personalize-errors__text" *ngFor="let error of personalizeForm.get('typeCloth')?.errors | errorFormReactive: 'tipo de tela'">
                {{error}}
            </p>
        </div>
    </div>

    <div class="container-personalize-size">
        <label for="">Talla</label>
        <select formControlName="size">
            <option value="">Seleccionar talla</option>
            <option value="xs">XS</option>
            <option value="s">S</option>
            <option value="m">M</option>
            <option value="l">L</option>
            <option value="xl">XL</option>
            <option value="xxl">XXL</option>
        </select>
        <div class="form-personalize-errors" *ngIf="personalizeForm.get('size')?.errors && personalizeForm.get('size')?.touched">
            <p class="form-personalize-errors__text" *ngFor="let error of personalizeForm.get('size')?.errors | errorFormReactive: 'talla'">
                {{error}}
            </p>
        </div>
    </div>
    
    <div class="container-personalize-description">
        <label for="">Descripción</label>
        <textarea formControlName="description"  rows="5"></textarea>
        <div class="form-personalize-errors" *ngIf="personalizeForm.get('description')?.errors && personalizeForm.get('description')?.touched">
            <p class="form-personalize-errors__text" *ngFor="let error of personalizeForm.get('description')?.errors | errorFormReactive: 'descripción'">
                {{error}}
            </p>
        </div>
    </div>

    <div class="btn-container">
        <button class="btn-personalize">Crear prenda personalizada</button>
    </div>

    <div class="total-personalize">
        <label for="">Total aprox.</label>
        
        <label>$ <input formControlName="total" readonly class="total-personalize__value" [value]="calculateTotal()"/></label>
    </div>
</form>

 