@import '../../shared/util/styles/variables-global.scss';

.container-sign-in{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    overflow: auto;

    .container-form-sign-in{
        &__title{
            font-size: $font-size-large;
            font-family: $font-title;
            font-weight: 600;
        }
    }
    &__image{
        width: 200px;
        height: 200px;
    }
}