
@import '../../util/styles/variables-global.scss';



.header{
    box-sizing: border-box;
    background-color: $color-primary;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: $height-nav;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: -7px -9px 42px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px -9px 42px -6px rgba(0,0,0,0.75);
    box-shadow: -7px -9px 42px -6px rgba(0,0,0,0.75);

    & .header-logo{
        min-width:$width-nav;
        border-right: 2px solid $color-white;
        text-align: center;
        &__text{
            font-size: $font-size-very-large;
            font-family: $font-title;
            font-weight: 600;
            color: $color-white;
            
            
        }
    }
 

    & .header-user{
        padding: 0px 1rem;
        &__icon{
            font-size: $font-size-very-large;
            color: $color-white;
        }
    }
}