

//--------- Colors --------------//
$color-white: #FFF;
$color-black: #000;
$color-gray: rgb(134, 134, 134);
$color-gray-second: rgba(128, 128, 128, 0.17);
$color-primary: #168ed3;
$color-primary-alternate: #1777af99;
$color-error: #d2190899;
$color-success: #63f30a99;



//--------- Fonts --------------//
$font-title: 'Montserrat', sans-serif;
$font-paragraph: 'Roboto', sans-serif;

$font-size-very-large: 3rem;
$font-size-large: 1.7rem;
$font-size-medium: 1.2rem;
$font-size-small: 1rem;
$font-size-very-small: 0.8rem;



// ------- With Nav ------------------///
$width-nav: 17rem;
$height-nav: 4rem;