
<nav class="nav">
    <ul class="nav-list">
        <li class="nav-list-item" [routerLink]="['./home']" routerLinkActive="active-link">
            <span class="nav-list-item__icon material-symbols-outlined">
                home
            </span>
    
            <span class="nav-list-item__text">Home</span>
        </li>
        <li class="nav-list-item">
            <span class="nav-list-item__icon material-symbols-outlined">
                receipt_long
            </span>

            <span class="nav-list-item__text">Mis pedidos</span>
        </li>
        <li class="nav-list-item">
            <span class="nav-list-item__icon material-symbols-outlined">
                laundry
            </span>

            <span class="nav-list-item__text">Personalizar</span>
        </li>
      
      
    </ul>
    
</nav>

